<mat-card>

  <form (submit)="onLogin(loginForm)" *ngIf="!isLoading" #loginForm="ngForm">

    <mat-form-field>
      <input
        name="email"
        ngModel
        required
        email
        matInput
        type="email"
        placeholder="Email"
        #emailInput="ngModel"
      >
      <mat-error *ngIf="emailInput.invalid">Please enter a valid Email</mat-error>
    </mat-form-field>


    <mat-form-field>
      <input
        type="password"
        matInput
        placeholder="password"
        #passwordInput="ngModel"
        ngModel name="password"
        required
        password>
      <mat-error *ngIf="passwordInput.invalid">Please enter a valid Password.</mat-error>
    </mat-form-field>

    <button *ngIf="!isLoading" [disabled]="loginForm.invalid"
            mat-raised-button
            color="accent"
            type="submit">Login
    </button>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
  </form>


</mat-card>
